@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}  /* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,img {border:0 none}  /* 重置fieldset（表单分组）、图片的边框为0*/
dl,ul,ol,menu,li {list-style:none}   /* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote, q {quotes: none}   /* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}  /* 重置嵌套引用*/
input,select,textarea,button {vertical-align:middle}  /* 重置表单控件垂直居中*/
button {border:0 none;background-color:transparent;cursor:pointer}  /* 重置表单button按钮效果 */
body {background:#fff}   /* 重置body 页面背景为白色 */
body,th,td,input,select,textarea,button {font-size:12px;line-height:1 ;font-family:"微软雅黑", "黑体","宋体";color:#666} /* 重置页面文字属性 */
a {color:#666;text-decoration:none}  /* 重置链接a标签 */
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* 重置样式标签的样式 */
caption {display:none;}    /* 重置表格标题为隐藏 */
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:;}    /* 重置table属性 */
img{vertical-align:top;width:100%;border:none;}  /* 图片在当前行内的垂直位置 */
a {outline: none;}  
a:active {star:expression(this.onFocus=this.blur());}
body {margin: 0 auto 20px;font: normal 100% '微软雅黑';color: #fff;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-webkit-user-select: none;-webkit-touch-callout: none;-moz-touch-callout: none;-khtml-user-select: none;user-select: none;background: #fff url(../images/temp_jjjcby_bg.jpg) no-repeat  top;background-size: cover;}
.layout{width: 100%;}
.head{margin-top:82%;margin-left: 12%;width: 100%;margin-bottom:1%;}
.text  {width:48%;float: left;}
#thiscss{padding-left:25%;color:#ff0000;font-size:2.5em;margin-top:6%;}
.btn {float: left;width: 30%;cursor:pointer;}
.btn img{max-width: 100%;}
.content{padding-top: 1px;}
.content img{width: 92%;padding-left: 4%;}
.content video{width: 92%;padding-left: 4%;}
.video video{width: 92%;margin-left: 4%;}
.video img{width: 92%;padding-left: 4%;}
.video{padding-top: 8%;}

#footerTips{width: 80%;}
#ftmobile p{ margin:0; padding:0; }
#ftmobile .content .game-sep-info .item:after {background:#666; }
#ftmobile .game-sep-info .item:last-child:after {border:0; } 
#ftmobile .content .game-sep-info {color: #999; font-size: 12px; padding-top:3px;width:65%; }
#ftmobile .content .game-sep-info .item {padding: 0 5px;}
#ftmobile .game-sep-info .item {color: #999; display: inline-block; font-size: 12px;line-height: 14px;padding: 0 5px;position: relative;}

#ftmobile .mod-bottom .aside-wrap.mobile_btn {padding: 0 15px;width: auto; border-radius:3px;-webkit-border-radius:3px; }
#ftmobile .mod-bottom .aside-wrap {height: 30px;margin-top: -15px;position: absolute;right: 15px;top: 50%;}
#ftmobile .mobile_btn{background-color: #6bb247;}
#ftmobile .mobile_btn {color: #fff;display: block;font-size: 14px;height: 30px;line-height: 30px;text-align: center;width: 60px;}
#ftmobile .mod-bottom{display:block;position:relative;background:none repeat scroll 0 0 rgba(36, 43, 51, 0.9);position:fixed;left:0;right:0;bottom:0;z-index:21}
#ftmobile .m-wrap{display:-webkit-box; box-pack:start; box-align:stretch;  -webkit-box-pack:start;-webkit-box-align:stretch; padding:10px 15px;position:relative; }
#ftmobile .game-ico{width:45px;height:45px;-webkit-box-flex:0;margin-right:10px;margin-top:5px;}
#ftmobile .content{
	-webkit-box-flex:1;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-box-align:start;
	-moz-box-flex:1;display:-moz-box; -moz-box-orient:vertical; -moz-box-pack:center; -moz-box-align:start;
}
#ftmobile .content .game-title{color:#FFF}
#ftmobile .content .game-sep-info .item{padding:0 5px}
#ftmobile .content .game-sep-info .item::after{background:#666}
#ftmobile .content .game-sep-info .item:first-child{padding-left:0;  border-right:solid 1px #666; }
#ftmobile .mod-bottom .aside-wrap{position:absolute;right:15px;height:30px;top:50%;margin-top:-15px}
#ftmobile .mod-bottom .aside-wrap.mobile_btn{width:auto;padding:0 15px}
#ftmobile .bottom-fix-placeholder{height:71px}
#ftmobile .ftmobile-close{position:absolute;right:0;top:0; font-size:24px; background:#5c6167; background-size:12px; width:20px;height:20px; border-radius:0 0 0 20px; -webkit-border-radius:0 0 0 20px; text-align:right; color:#fff; line-height:20px; font-weight:bold;   }
#ftmobile .ftmobile-close::before { content: "\00D7";  }

.wenxinidealog{position:absolute;width:100%;z-index:9;top:0;background-color:rgba(0,0,0,0.8);height:100%;display:none;}
.tipsdown{position:fixed;top:0;width:100%;padding:3% 0%;background-color:#efa839;color:#fff;font-size:1.5em;filter:alpha(opacity:80);opacity:0.8;}
	.tipsdown p{padding-left:5%;}




